[defaults]
inventory = inventory/production.yml
remote_user = deploy
host_key_checking = False
retry_files_enabled = False
force_color = 1

# Секцию [privilege_escalation] убрали!
# become будем указывать точечно в плейбуках
